@import "../../../variables";
@import "../../../mixins";

div.modaloverlay {
  width: 100vw;
  height: 100%;
  background-color: $modalOverlayColour;
  z-index: 2;
  @include positionFixedCenter();
}
  
main.modalpane {
  @include positionFixedCenter();
  
  & header {
    width: 100%;
    height: 50px;
    padding: 10px 50px;
    color: $subheaderTextColour;
    font-size: $modalTextSize;
    border-radius: 5px 5px 0 0;;
    background-color: $subheaderBackgroundColour;
    @include flexCenter(row);
  }

  & main.modaldescription {
    width: 100%;
    padding: 10px;
    color: $standardTextColour;
    font-size: $modalTextSize;
    @include flexCenter(row);

    & > p {
      text-align: center;
    }
  }

  & div.modalbuttons {
    @include flexCenter(row);
    justify-content: flex-center;
    padding: 10px;
    position: relative;
    right: 0px;
    bottom: 0px;
  }
}