@import "../../../variables";
@import "../../../mixins";

div.ToolTip { 
    position: relative;

    & div.ToolTipCreator {
        border-radius: 6px;
        background: $tooltipBackgroundColour;
        padding: 5px;
        min-width: 75px;
        text-align: center;
        color: $tooltipTextColour;
        font-size: $tooltipTextSize;
    }
}

div.ToolTipCreator { 
    position: absolute;
}