@import "../../variables";
@import "../../mixins";

footer {
  height: 50px;
  display: grid;
  place-items: center;
  border-top: 1px solid $footerBorderColour;
  background: $footerBackgroundColour;
}