@import "../../../variables";
@import "../../../mixins";

div.buttonbar {
    @include flexCenter(row);
    gap: 25px;
}

div.cardbar {
    padding-top: 10px;
}

div.pagebar {
    padding-bottom: 25px;
}