$standardTextColour: Black;

$headerTextColour: White;
$headerBackgroundColour: #3c1557;
$headerHoverColour: rgb(200, 200, 200);
$headerTextSize: 200%;

$subheaderTextColour: White;
$subheaderBackgroundColour: #edafb8;

$subsubheaderTextColour: #909090;

$navbarHoverColour: #f4cdd3;

$footerTextColour: #6d26a0;
$footerBorderColour: #b77de0;
$footerBackgroundColour: #aa63da;
$footerTextSize: 70%;

$tooltipTextColour: White;
$tooltipBackgroundColour: #77002e;
$tooltipTextSize: 75%;

$pageBackgroundColour: White;
$pageCentrepaneBackgroundColour: WhiteSmoke;

$cardBackgroundColour: White;

$moduleCardButtonBorderColour: #77002e;
$moduleCardButtonHoverColour: #ffe2ed;

$moduleItemSubheaderTextSize: 15px;
$moduleItemSubsubheaderTextSize: 14px;
$moduleItemSubsubsubheaderTextSize: 13px;

$errorMessageTextColour: Red;

$modalOverlayColour: rgba(60,60,60,0.7);
$modalTextSize: 100%;

$formInputLabelTextSize: 15px;
$formInputTextSize: 12px;